{% extends 'base.html.twig' %}

{% block title %}MyPDF - Subscriptions{% endblock %}

{% block body %}
    <div class="flex min-h-screen justify-center items-center dark:bg-gray-900">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            {% for subscription in subscriptions %}
                <div class="max-w-sm bg-white border rounded-lg shadow dark:bg-gray-700 {% if subscription.title == activeSubscription %}border-4 border-r-4 border-blue-500{% else %}dark:border-gray-700{% endif %}">
                    <a href="#">
                        <img class="rounded-t-lg" src="{{ subscription.media }}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ subscription.price }} $</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ subscription.description }}</p>
                        {% if subscription.title == activeSubscription %}
                            <span class="text-green-500">Active Subscription</span>
                        {% else %}
                            <a href="{{ path('app_subscription_change', {'id': subscription.id}) }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Change to {{ subscription.title }} plan
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
